<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <h1 class="text-center mt-4">Example of Template Driven Form</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- <p class="text-success">This is Angular's Object <span class="text-danger">i.e. Form's Object</span></p>
        {{userForm.value|json}}
        <hr>
        <p class="text-info">This is Angular's Model.i.e. userModel</p>
        {{userModel | json}}
        <hr> -->

        <div class="form-group">
          <label class="col-form-label" for="name">Name</label>
          <input type="text" #name="ngModel" required class="form-control" placeholder="Enter your name" id="name" name="name"
            [(ngModel)]="userModel.name">
          <small class="text-primary" [class.d-none]="name.valid || name.untouched">Name is required</small>
        </div>

        <!-- {{name.className}} will show all the classes applied to input element -->


        <div class="form-group">
          <label class="col-form-label" for="email">Email</label>
          <input type="email" #email="ngModel" required class="form-control" placeholder="Enter email" id="email" name="email"
            [(ngModel)]="userModel.email">
          <small class="text-primary" [class.d-none]="email.valid || email.untouched">Email is required</small>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="phone">Phone</label>
          <input type="tel" #phone="ngModel" required pattern="^\d{10}$" class="form-control" placeholder="Enter phone"
            id="phone" name="phone" [(ngModel)]="userModel.phone">
          <!-- <small class="text-primary" [class.d-none]="phone.valid || phone.untouched">Phone is required and must be 10 digits</small> -->
          <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small class="text-primary" *ngIf="phone.errors.required">Phone number is required</small>
            <small class="text-primary" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleSelect1">Select Language</label>
          <select (blur)="validateLanguage(language.value)" (change)="validateLanguage(language.value)" class="form-control"
            #language="ngModel" [class.is-invalid]="languageError && language.touched" id="language" name="language"
            [(ngModel)]="userModel.language">
            <option value="default">Select a Programming language</option>
            <option *ngFor="let language of languages">{{language}}</option>
          </select>
          <small class="text-primary" [class.d-none]="!languageError || language.untouched">Please choose a language</small>
        </div>

        <div class="mb-3">
          <label for="time">Time Preference</label>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="timePreference" id="timePreference" value="morning"
                [(ngModel)]="userModel.timePreference">
              Morning (9AM - 12PM)
            </label>
          </div>
          <div class="form-check ">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="timePreference" id="timePreference" value="evening"
                [(ngModel)]="userModel.timePreference">
              Evening (5PM - 8PM)
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="subscribe" name="subscribe" [(ngModel)]="userModel.subscribe">
            <label class="custom-control-label" for="subscribe">Send me promotional offers</label>
          </div>
        </div>

        <button type="submit" [disabled]="userForm.form.invalid || languageError" class="btn btn-primary">Submit Form</button>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>